version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: anasy_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 102030
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: .
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: 102030
      DB_NAME: anasy_db
      JWT_SECRET: supersegredo
      JWT_REFRESH_SECRET: superrefresh
    ports:
      - '3000:3000'
    volumes:
      - .:/app
    command: sh -c "npm install --legacy-peer-deps && npm run build && npm run initdb && node dist/app.js"

volumes:
  db_data:
